*{
    background-color: azure;
}
#color{
    background-color: lightblue;
    color: black;
    padding: 10px;
    border-radius: 5px;
    height: 50px;
}
#image{
    border-radius: 50%;
    height: 250px;
    border: 2px solid black;
}
#image.hover{
    border: 5px solid black;
    transition: border 0.3s ease;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}