*{
    background-color: azure;
}
#color{
    background-color: lightblue;
    color: black;
    padding: 10px;
    border-radius: 5px;
    height: 50px;
}
#img{
    border-radius: 50%;
    height: 250px;
    ;
}
#img.hover{
    border: 5px solid black;
}